.dropdown-menu {
  background: #fff;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  border: 1px solid #e2e2e2;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #fff;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #5c5b5b;
  padding: 7px;
  font-size: 14px;
  transition: all 150ms ease-out 0s;
  text-decoration: none;
  display: block;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
